<!--
 * @Author: tackchen
 * @Date: 2022-10-10 16:19:29
 * @Description: Coding something
-->
<div class="flex-4-num1">
    <span class="flex-4-img">
        Hello
        <img alt="xxx" class="item-img"
            src="https://shiyix.cn/wx-pay.png"
            lazy="loaded">
    </span>
    <div class="flex-4-num1-des">
        <div data-v-412b52fe="">
            <div class="flex-4-num1-status">
                <span class="name">
                    <i data-v-412b52fe="">xxxx</i>
                </span>
            </div>
            <div class="flex-4-num1-operation">
                <div class="flex-4-num1-play">click</div>
            </div>
        </div>
    </div>
</div>


<div class="flex-4-num1" @click="onClick">
    <span class="flex-4-img">
        Hello {{ref.msg}} {{propds.value}}
        <img alt="xxx" class="item-img" src="https://shiyix.cn/wx-pay.png" lazy="loaded">
    </span>
    <slot />
    <div class="flex-4-num1-des">
        <div v-for="item in list" data-v-412b52fe="">
            <div class="flex-4-num1-status">
                <span v-if="item.name" @click="onClick" class="name">
                    <i data-v-412b52fe="">xxxx</i>
                </span>
            </div>
            <div class="flex-4-num1-operation">
                <div class="flex-4-num1-play">click</div>
            </div>
            <input class="input" v-bind="data.a" />
        </div>
    </div>
</div>


<script>
    ['div', 'span', 'img', 'i'].forEach(n=>{
        window[n] = (...args)=>{
            console.log('1111', args)
            return (...args)=>{
                console.warn('2222', args)
            };
        }
    })

    const dom = div`.flex-4-num1`(
        span`.flex-4-img`(
            text`:Hello ${msg}`,
            img`.item-img[alt=xxx;lazy=loaded;src=https://shiyix.cn/wx-pay.png]`,
        ),
        div`.flex-4-num1-des`(
            div(
                div(
                    span`.name`(
                        i`:xxxx`,
                    )
                ),
                div`.flex-4-num1-operation`(div`.flex-4-num1-play:click`)
            ),
        )
    );

    const dom2 = div`.flex-4-num1
        Hello ${msg}
        ${span`.flex-4-img
            ${img`.item-img[alt=xxx;lazy=loaded;src=https://shiyix.cn/wx-pay.png]`}
        `}
        ${div`.flex-4-num1-des
            ${div`
                ${div(
                    span`.name ${i`:xxxx`}`.click(()=>{

                    })
                )}
                ${div`.flex-4-num1-operation`(div`.flex-4-num1-play:click`)}
            `}
        `}
    `;

    function component(){
        const data = ref({a:1});

        const prop = getProps();

        const slot = getSlots();

        const list = ref([{a:1}, {b:2}])

        const onClick = ()=>{

        }

        return div('.flex-4-num1', click(onClick), [
            span('.flex-4-img', [
                `Hello ${ref.msg} ${prop.value}`,
                img('.item-img[alt=xxx;lazy=loaded;src=https://shiyix.cn/wx-pay.png]')
            ]),
            slot,
            div('.flex-4-num1-des', [
                div.for(list)(item=>[
                    div([
                        span.if(item.name)('.name', click(onClick), [
                            i(':xxxx')
                        ])
                    ]),
                    div('.flex-4-num1-operation', [
                        div('.flex-4-num1-play', ':click')
                    ]),
                    input.bind(data.a)('.input')
                ])
            ]),
        ])

        return `
            div.flex-4-num1@click{onClick}
                @on:hover{onHover}
                span.flex-4-img
                    Hello {ref.msg}{prop.value}
                    img.item-img[alt=xxx;lazy=loaded;src=https://shiyix.cn/wx-pay.png]
                {slot}
                div.flex-4-num1-des
                    div$for{list}.for-item
                        span$if{$item.name}.name@click{onclick}
                            i:textdsa
                    div.flex-4-num1-operation
                        div.flex-4-num1-play:click
                    input$bind{data.a}.input
        `

        return div`.flex-4-num1
            Hello ${ref.msg} ${prop.value}
            ${span`.flex-4-img
                ${img`.item-img[alt=xxx;lazy=loaded;src=https://shiyix.cn/wx-pay.png]`}
            `}
            ${slot}
            ${div`.flex-4-num1-des
                ${list.map(item=>div`
                    ${div`
                        ${xif(item.name).span`.name ${i`:xxxx`}`.click(onClick)}
                    `}
                    ${div`.flex-4-num1-operation`(div`.flex-4-num1-play:click`)}
                `)}
                ${div.for(list)`
                    ${div`
                        ${xif(xfor.item.name).span`.name ${i`:xxxx`}`.click(onClick)}
                    `}
                    ${div`.flex-4-num1-operation`(div`.flex-4-num1-play:click`)}
                `}
            `}
        `;
    }

    const data = ref({
        value: 11,
    })

    const parent = div`.parent
        ${
            component.prop(data).css()`${div``}`
        }
    `
</script>